{% set title = "关于我们" %}

{% extends "layout/layout-index.html" %}

{% block head %}
<link href="/css/abouts.css" rel="stylesheet">
{% endblock %}

{% block top_con %}
<div class="abouts">
    <div class="container abouts">
        <h3>关于我们</h3>
        <p>
            上海佳锐信息科技有限公司是一家为金融行业提供软件开发和技术服务的科技公司。公司成立于2006年，目前拥有员工百余人，专业技术人员80余人。是上海市高新技术企业、上海市软件企业。多次获得“国家科技型中小企业创新基金”。
        </p>
    </div>
</div>
{% endblock%}


{% block main_con %}
广州王牌灯饰是 LED 、光纤、舞台灯光和大功率激光器的专业生产厂家，在 LED 生产上拥有多年的丰富经验，我们始终坚持不断开发、创新和生产产品。产品包括：
    LED 灯（ DMX512 控制）：大功率（ 1W ， 3W ）、 PAR 灯、效果灯、摇头灯、商业照明（灯杯和天花灯）、台灯、手电筒、户外灯、太阳能灯等
    光纤类：光纤、光源器、LED光源器
    激光灯：大功率激光（ 1W-50W ）
    舞台灯光：成像灯、 PAR 灯、机械灯、电脑灯
    控制器：数码硅箱、 DMX512 控制器
    我们生产的 LED 灯具，特别是大功率的 LED 灯具亮度高、混色效果好，光斑均匀、角度可选，可适用于户外亮化、景观照明、舞台、演播厅、剧场、酒吧等娱乐场所，产品深受广大国内外顾客的欢迎。
    工厂有一支实力雄厚的专业技术队伍，为客户提供的服务从系统咨询、工程策划、到器材选型、设备供应、安装调试、维护维修、业务培训等，已形成产品系列化， 服务一体化的动作特色。公司为提高商场竞争力，适应高素质的服务需求，积极引进高技术的名牌产品，设计及安装的工程得到同行的认同。此外，我工厂非常重视管理，重视人才，行成良好的企业文化。目前，公司形成一个良性的有机的高效的动作机体。
    我们秉持 “ 诚信为本，创新理念，专业水准，一流服务， ” 的信责，以最大满足客户的需求为我们的宗旨 . 
    经营理念
    诚信：心诚则灵，言而有信。 
    创新：制造源于创造，创造源于创新
    服务：把对的事情做好，把好的事情做对。
{% endblock %}

{% block script %}
<script>
	console.log('aa');
</script>
{% endblock %}
