{% set title = "首页" %}

{% extends "layout/layout-index.html" %}

{% block head %}
<link href="http://cdn.bootcss.com/flexslider/2.6.0/flexslider.min.css" rel="stylesheet">
{% endblock %}

{% block top_con %}
<!-- 图片滚动 -->
<div id="slider">
	<div class="flexslider"> 
		  <ul class="slides"> 
			<li><img src="http://www.helloweba.com/demo/flexslider/images/s1.jpg" /></li> 
			<li><img src="http://www.helloweba.com/demo/flexslider/images/s2.jpg" /></li> 
			<li><img src="http://www.helloweba.com/demo/flexslider/images/s3.jpg" /></li> 
			<li><img src="http://www.helloweba.com/demo/flexslider/images/s4.jpg" /></li> 
		  </ul> 
	</div> 
</div>
{% endblock %}

{% block main_con %}
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内cc容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内s容ccaaa</p>
{% endblock %}

{% block script %}
<script src="http://cdn.bootcss.com/flexslider/2.6.0/jquery.flexslider-min.js"> </script>
<script>
	$(function() {
		$('.flexslider').flexslider({
			useCSS: false,
			controlNav: false
		});
	});
</script>
{% endblock %}
