@import './reset.css';

body {
    font-size: 12px;
}

table {
    $border-color: #D1D1D1;

    border-collapse: collapse;
    width: 100%;
    border: 1px solid $border-color;
    border-bottom: none;

    tr {
        td {
            text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid $border-color;
        }
        height: 36px;
    }

    tr:nth-child(even) {
        background-color: #F4F6FA;
    }
}

.cs-select {
    // 默认隐藏原生的select下拉
    select {
        display: none;
    }

    // 让自定义层相对于 本div来定位
    position: relative;
    width: 100px;

    // 文本后置下拉图标
    .cs-text {
        position: relative;

        &:after {
            content: ""; //content是 after/before的必要元素
            position: absolute; // 绝对定位，块级元素
            width: 9px;
            height: 6px;
            top: 5px;
            margin-left: 6px;

            background: url(../icons.png) 0 0 no-repeat;
        }
    }

    // 自定义层默认隐藏
    .cs-ul {
        display: none;
    }
}